<form action="/users/update" method="POST">
    <input type="hidden" name="id" value={{user.id}}>
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" value={{user.name}} placeholder="Digite seu nome">
    </div>
     <div>
        <label for="age">Idade:</label>
        <input type="text" name="age" value={{user.age}} placeholder="Digite seu nome">
    </div>
     <div>
        <label for="occupation">Profissão:</label>
        <input type="text" name="occupation" value={{user.occupation}} placeholder="Digite seu nome">
    </div>
    <div>
        <input type="submit" value="EDITAR USUÁRIO">
    </div>
</form>

<div>

    <form action="/address/create" method="POST">
        <input type="hidden" name="UserId" value={{user.id}}>
        <div>
            <label for="street">street:</label>
            <input type="text" name='street' placeholder="Digite sua rua">
        </div>
        <div>
            <label for="number">Numero:</label>
            <input type="text" name='number' placeholder="Digite o numero da sua casa">
        </div>
        <div>
            <label for="city">Cidade:</label>
            <input type="text" name='city' placeholder="Digite sua cidade">
        </div>
        <div>
            <input type="submit" value="CADASTRAR">
        </div>
</form>

<div>
    {{#each user.Adresses}}
        <p>{{this.id}} - {{this.street}} - {{this.number}} - {{this.city}}</p>
        <form action="/address/delete">
            <input type="submit" value="EXCLUIR">
        </form>
    {{/each}}
</div>


</div>